# macOS specific
.DS_Store

# Visual Studio Code specific
.vscode/
*.code-workspace

# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/